<!-- Header -->
<header class="main-header fixed-header header-2">
    <div class="container-fluid">
        <div class="header-content">
            <div class="nav-logo">
                <a href="./index.html"><img src="./image/logo.png" alt="" class="w-100" /></a>
            </div>
            <div class="d-none d-xl-block main-menu">
                <nav class="navbar-nav m-auto" id="navbarNav">
                    <ul>
                        <li>
                            <a href="./index.html">Home</a>
                        </li>
                        <li>
                            <a href="./about.html">About Me</a>
                        </li>
                        <!--  <li class="dropdown-nav">
                  <a href="#portfolio">Portfolio</a>
                  <ul class="submenu">
                    <li>
                      <a href="./portfolio-slider.html">Portfolio Slider</a>
                    </li>
                    <li><a href="./portfolio.html">Portfolio</a></li>
                    <li>
                      <a href="./portfolio-details.html">Portfolio Details</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-nav">
                  <a href="#services">Services</a>
                  <ul class="submenu">
                    <li><a href="./service.html">Services</a></li>
                    <li>
                      <a href="./service-details.html">Services Details</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-nav">
                  <a href="#blog">Blog</a>
                  <ul class="submenu">
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                  </ul>
                </li> -->
                        <li>
                            <a href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="d-flex header_btn_container">
                <a href="./contact.html" class="theme-btn btn_moveing_hover theme-btn-with-bg d-none d-md-block">Lets'
                    Talk <i class="icon-arrow"></i></a>
                <a href="#" class="toggle-sidebar">
                    <i class="fa-regular fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Mobile Menu -->
<div class="mobile-menu mobile-menu-2">
    <div class="menu-backdrop"></div>
    <div class="main-menu-mobile">
        <div class="d-flex align-items-center justify-content-between">
            <div class="nav-logo">
                <a href="index-2.html"><img src="./image/logo.png" alt="" title="" /></a>
            </div>
            <div class="close-btn"><span class="far fa-times fa-fw"></span></div>
        </div>
        <div id="mobile-nav"></div>
    </div>
</div>
